DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/ecologistica
CO2_FACTOR=0.254
ALLOWED_DISTRICTS=["EL TAMBO", "HUANCAYO", "CHILCA"]
GEO_LAT_MIN=-12.2000
GEO_LAT_MAX=-11.9000
GEO_LNG_MIN=-75.4000
GEO_LNG_MAX=-75.1000